body {
    background: url("../images/crystalball.png");/*image from https://flyclipart.com/*/
}

.jumbotron {
    max-width: 740px;
    margin: 0 auto;
    margin-top: 15px;
    border: solid 20px #c6ade6;
    background: #f7f3fc;
}

.alert {
    max-width: 740px;
}

h1, p {
    text-align: center;
}

#instructions {
    color: #c6ade6;
}

#disp-wins {
    color: green;
}

#disp-losses {
    color: red;
}
